<!DOCTYPE html>
<html>
<head>
    <title>Access File</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <div class="container">
        <h1 class="center">Password Protected File</h1>
        
        <p>This file is password protected. Please enter the password to access it.</p>
        
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                <div class="flash-messages">
                    {% for message in messages %}
                        <p class="flash-message">{{ message }}</p>
                    {% endfor %}
                </div>
            {% endif %}
        {% endwith %}
        
        <form method="POST" action="{{ url_for('get_file', uuid=uuid) }}">
            <div class="form-group">
                <label for="password">Password:</label>
                <input type="password" name="password" id="password" required>
            </div>
            
            <button type="submit">Access File</button>
        </form>
    </div>
</body>
</html>